@using CognitoSampleApp.Models
@model LoginViewModel

@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-6">
        <h2>Amazon cognito demo</h2>
    </div>

    <div class="col-md-3">
        <form action="/home/SignUp" method="post">
            <div class="imgcontainer">
                <img src="~/Content/Images/login.png" alt="Avatar" class="avatar">
            </div>

            <div class="container">
                <div class="c_user_pass">
                    <label for="uname"><b>Username</b></label>
                    <input type="text" placeholder="Enter Username" name="username" required>

                    <label><b>Email</b></label>
                    <input type="text" placeholder="Enter Email" name="email" required>

                    <br />
                    <label for="psw"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="pass" required>

                </div>
                <button type="submit">Sign up</button>

                <div class="viewBag">@ViewBag.SignUpStatus</div>
            </div>
        </form>
    </div>

    <div class="col-md-3">
        @using (Html.BeginForm("Login", "Home", FormMethod.Post, new
        { enctype = "multipart/form-data" }))
        {
            <div class="imgcontainer">
                <img src="~/Content/Images/login.png" alt="Avatar" class="avatar">
            </div>
            <div class="container">
                <div class="c_user_pass">
                    @Html.LabelFor(m => m.Username)
                    @Html.TextBoxFor(m => m.Username@*, new { @Value = Model.Username }*@)


                    @Html.LabelFor(m => m.Password)
                    @Html.Password("password")
                </div>
                <button type="submit">Login</button>
            </div>
            <div class="viewBag">@ViewBag.LoginStatus</div>
            @Html.ActionLink("Forgot Password", "RequestPasswordReset", "Home", new { Username = "da1vid" }, null)

        }

    </div>
</div>