@using CognitoSampleApp.Models
@model ConfirmResetPassword

<h3> @ViewBag.Status </h3>


@using (Html.BeginForm("ConfirmForgotPassword", "Home", FormMethod.Post, new
{ enctype = "multipart/form-data" }))
{
    <div class="c_user_pass">
        @Html.LabelFor(m => m.Username)
        @Html.TextBoxFor(m => m.Username@*, new { @Value = Model.Username }*@)

        @Html.LabelFor(m => m.VerificationCode)
        @Html.TextBoxFor(m => m.VerificationCode)

        @Html.LabelFor(m => m.Password)
        @Html.Password("password")
    </div>
    <input type="submit" value="Reset password" name="submitButton" />
}
